Source: igd-exporter
Maintainer: Sam Morris <sam@robots.org.uk>
Section: net
Priority: optional
Build-Depends:
 debhelper (>= 10),
 devscripts,
 git,
 python3 (>= 3.4),
 python3-prometheus-client,
 python3-setuptools,
Standards-Version: 3.9.7
Homepage: https://github.com/yrro/igd-exporter
Testsuite: autopkgtest
X-Python3-Version: >= 3.4

Package: prometheus-igd-exporter
Architecture: all
Depends:
 adduser,
 ${python3:Depends},
 ${misc:Depends},
Description: UPnP Internet Gateway Device metrics exporter for Prometheus
 Allows probing of UPnP Internet Gateway Devices (i.e., consumer Internet
 routers) by the Prometheus monitoring/time series database system.
