[Unit]
Description=Prometheus exporter UPnP Internet Gateway Device metrics
Documentation=https://github.com/yrro/igd-exporter file:///usr/share/doc/prometheus-igd-exporter/README.md

[Service]
Restart=always
User=_igd-exporter
ExecStart=/usr/bin/igd-exporter
Environment=PYTHONUNBUFFERED=1
NoNewPrivileges=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
